@model CreateProjectViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
	User user = await UserManager.GetUserAsync(User);
}

<h2 class="accentWord">Skapa projekt</h2>
<br />
<form method="post" class="formRegister">
	<div class="inputRow">
		<label>Projektnamn:</label>
		<input asp-for="Name" class="userInput" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="inputRow">
		<label>Projektbeskrivning:</label>
		<input asp-for="Description" class="userInput" />
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<div class="inputRow">
		<input type="hidden" asp-for="ProjectLeaderUserName" class="userInput" value="@user.UserName" />
	</div>
	<button type="submit" class="btnRegister btn btn-dark">Skapa projekt</button>

</form>
