@model LoginViewModel

<h2 class="accentWord">Logga in</h2>
<br />
<form method="post" asp-controller="Account" asp-action="LogIn">
	<div class="inputRow">
		<label for="" class="">Användarnamn</label>
		<input asp-for="UserName" class="userInput" placeholder="Användarnamn">
		<span asp-validation-for="UserName" class="text-danger"></span>
	</div>
	<div class="inputRow">
		<label for="exampleDropdownFormPassword1" class="">Lösenord</label>
		<input type="password" asp-for="Password" type="password" class="userInput" placeholder="Lösenord">
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>
	<div class="">
		<div class="form-check">
			<input type="checkbox" class="" id="dropdownCheck">
			<label class="form-check-label accentWord" for="dropdownCheck">
				Kom ihåg mig
			</label>
		</div>
	</div>
	<span class="text-danger">@Model.ErrorMessage</span>
	<br />
	<br />
	<a class="" href="#">Är du ny här? Registrera dig</a>
	<br />
	<br />
	<button type="submit" class="btn btn-dark">Logga in</button>
</form>
