/*Misc*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

html {
    font-size: 14px;
    background-color: #727D66;
    color: #FFFEF6;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    background-color: #727D66;
    color: #FFFEF6;
}

.content {
    padding-top: 7em;
}

h1 {
    text-align: center;
}
/*Header*/
header {
    z-index: 1;
    width: 100%;
    position: fixed;
    background-color: #727D66;
    color: #FFFEF6;
    box-shadow: 0px 2px #494f41;
    padding: 0em 1em;
}

.smallEmptyPicture {
    margin: 1em;
    height: 5em;
    width: 5em;
    border-radius: 50%
}

.profileInfo {
    display: flex;
    align-items: flex-end;
    justify-self: right;
}

.LogOutButton {
    right: 0px;
}

/*.profilepictureHeader {
    margin: 1em;
    height: 5em;
    width: 5em;
    border-radius: 50%;

    align-content:center;
    
}*/

#profileInfoHeader {
}

.btn {
    position: relative;
    color: #FFFEF6;
}

.loginOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loginOptions a {
        margin: 0em 1em;
        color: white;
    }

.logo {
    font-size: 40px;
    color: white;
}

footer {
    position: fixed;
}

.navLinks a {
    margin: 0em 1em;
    color: white;
}

.accentWord {
    color: orange;
    font-style: normal;
}
/*Startsida*/
.contentHome {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cardContainer { /*G�ller �ven p� projektsidan*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card { /*G�ller �ven p� projektsidan*/
    color: #000000;
    margin: 1em;
    padding: 1em;
    border-radius: 3em;
    border-color: orange;
    border-width: 0.25em;
    color: black;
}
.card h3{
    background-color: orange;
    margin: 0 0.5em;
    padding: 0.2em 0.5em;
    border-radius: 2em;
}

.headingHome {
    color: orange;
    text-align: center;
}

.personCard a {
    color: black;
}

.contentHome li {
    text-align: start;
}

.involved {
    color: orange;
}

/*Registrera sig*/
.formRegister {
    display: flex;
    flex-direction: column;
}

.inputRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5em;
    margin: 0.5em;
}

    .inputRow input, textarea {
        padding: 0em 0.5em;
    }

    .inputRow label {
        text-align: right;
        padding-right: 2em;
        color: orange;
    }

    .inputRow span {
        text-align: left;
        padding-left: 2em;
    }

.checkbox {
    text-align: left;
}

.btnRegister {
    margin-top: 2em;
    width: 10em;
    align-self: center;
}

/*Mina meddelanden*/
.allMessages {
    display: flex;
    flex-direction: column;
}

.messageContainer {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    width: 100%;
    margin: 1em 1em;
    justify-items: center;
    align-items: center;
}

.message {
    background: white;
    color: black;
    text-align: center;
    padding: 1em;
    margin: 0.5em;
    width: 100%;
}

.messageContainer a {
    text-align: center;
    color: orange;
}

.sender {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*CV*/
.CVright {
    color: #000000;
    padding: 0em 2em;
    background-color: #FFFEF6;
    margin-left: 18em;
    padding-top: 3em;
}

.CVleft {
    height: 100%;
    width: 18em;
    position: fixed;
    left: 0;
    overflow-x: hidden;
    padding: 1em;
    background-color: #ACB7A0;
    padding-top: 4em;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 100, 'GRAD' 0, 'opsz' 48
}

.circle {
    margin: 1em;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background-color: #FFFEF6;
}

.profilepicture {
    margin: 1em;
    height: 15em;
    width: 15em;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    padding: 0.5em;
    border-radius: 50%;
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    padding: 0.5em;
    border-radius: 50%;
    background: #007bb5;
    color: white;
}

.fa-instagram {
    padding: 0.5em;
    border-radius: 50%;
    background: #125688;
    color: white;
}

/*Profiles*/
.profileContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profileCard {
    text-align: center;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
}
/*@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*Profilesettings*/
#SettingsForm {
    text-align: center;
    border: 1px solid black;
    margin: 1em;

{
}

padding: 1em;
}

.SettingBoxes {
    margin: 0.5em;
    padding: 0em;
}

#DescriptionBox {
    margin: 0.5em;
    padding: 0em;
}

/*Redigera CV*/
.list {
    display: flex;
    justify-content: left;
    align-content: left;
    padding: 1em;
}

.competence {
    margin-right: 2em;
}
