@model CVDetails
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<h2 class="competence">Kompetenser</h2>

@try
{
	<form id="SettingsCV" method="post" asp-controller="CVSettingsController" asp-action="Edit">
		@foreach (var item in Model.CompetenceList)
		{
			<input class="SettingsCV" name="Name" value="@item.Name" />
			<br />
		}
		<input type="submit" value="Spara">
	</form>
}
catch (Exception ex) { }
<form id="SettingsCV" method="post" asp-controller="CVSettings" asp-action="AddCompetence">
	<p>Lägg till en ny kompetens:</p>
	<input class="SettingsCV" name="Name" />
	<br />
	<br />
	<input type="submit" value="Spara">
</form>

