@model CVDetails
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<h1 class="accentWord">Dina kompetenser</h1>

@try
{
		@foreach (var item in Model.CompetenceList)
		{
			<br />
			<p style= "text-align: center;">@item.Name</p>
			<form asp-controller="CVSettings" asp-action="DeleteCompetence">
				<input type="hidden" asp-for="@item.ID" name="id" />
				<input type="submit" value="Radera" class="btn btn-dark" />
			</form>
		<br />
			
		}

}
catch (Exception ex) { }
<br />
<br />
<form id="SettingsCV" method="post" asp-controller="CVSettings" asp-action="AddCompetence">
	<h3 class="accentWord">Lägg till kompetens:</h3>
	<input class="SettingsCV userInput" name="Name" />
	<br />
	<br />
	<input type="submit" value="Spara" class="btn btn-dark">
</form>
<p>@Model.ErrorMessage</p>

