@model ChangePasswordViewModel

<h2 class="accentWord">Change Password</h2>
<br />
<hr />
<br />
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-controller="ChangePassword" asp-action="Index">
            <div class="">
                <label asp-for="CurrentPassword"></label><br />
                <input asp-for="CurrentPassword" class="userInput" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="NewPassword"></label><br />
                <input asp-for="NewPassword" class="userInput" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="ConfirmPassword"></label><br />
                <input asp-for="ConfirmPassword" class="userInput" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
    @try{
            <p>@Model.ErrorMessage</p>
    }
    catch(Exception ex)
    {

    }
   

</div>