@model IEnumerable<User>


<div class="carousel">
	<ul class="carousel__list">
		@{
			int i = -2;
			int x = 1;
		}
		@foreach(var item in Model)
		{
			<li class="carousel__item" data-pos="i">x</li>
		}
	</ul>
</div>