@model ImageModel

@{
}

<h2 class="accentWord">Lägg till profilbild</h2>
<br />
<div class="">
	<div class="">
		<form asp-action="Add" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="">
				<label asp-for="Title" class="control-label"></label><br />
				<input asp-for="Title" class="text-danger userInput" /> <p>@ViewBag.ErrorMessage</p>
			</div>
			<div class="">
				<label asp-for="ImageFile" class="control-label"></label>
				<input asp-for="ImageFile" accept="image/*" />
				<span asp-validation-for="ImageFile" class="text-danger"></span>
			</div>
			<br />
			<div class="">
				<input type="submit" value="Create" class="btn btn-dark" />
			</div>
		</form>
	</div>
	
</div>
