@model ImageModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
}

@try
{
	if (Model.UserID.Any())
	{
		<h2 class="accentWord">Din profilbild</h2>
		<br>
		<div class="imgCard card">


			<img src="@("~/image/"+Model.Name)" asp-append-version="true" width="250px" height="250" />
			<a asp-action="Delete" class="btn btn-danger btnRegister" asp-route-id="@Model.ID">Radera</a>

		</div>
	}

}
catch (Exception ex)
{
	<a class="accentWord" href="@Url.Action("Add","Image", new { userID = User.Identity})">Lägg till profilbild</a>
}
